<div class="container-fluid all-box">

  <div  class="title-text">Contact</div>

  <div [@scaleUp]=""class="container-fluid">
    <div class="row content-box">
      <div class="col-1"></div>
      <div class="col-lg-10 col-sm-12 item-box">
        <div class="card">
          <div class="email-box">
            <div class="icon-div">
              <fa-icon class="faicon" [icon]="faEnvelope"></fa-icon>
            </div>
            <div class="section-title">Email</div>
            <div class="separator"></div>
            <div class="section-text">{{email}}</div>
            <div class="btn-div">
            <button class="btn btn-primary" (click)="sendEmail()">Email</button>
          </div>
          </div>
        </div>
      </div>

      <div class="col-1"></div>
    </div>
  </div>
</div>
