@import '/src/assets/sass/_variables.scss';



.portfolio-container {
    padding: 4% 5%;
    background-color: $page-bg;
    color: $default-text-color;
    font-family: 'Open Sans', sans-serif;
  }
  
  .portfolio-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
  }
  
  .social-links {
    display: flex;
    gap: 20px;
  }
  
  .social-icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }

.portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .portfolio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba($default-text-color, 0.2);
  }
  
  .image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .portfolio-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h2 {
    font-size: 2em;
    color: $accent-color;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .card-container {
    padding: 0;
  }

  .jr-logo {
    width: 95px;
  }

  .fd-logo {
    width: 165px;
  }

  .dr-logo {
    width: 135px;
  }

  .az-logo {
    width: 95px;
  }

  .desc-text {
    font-size: 1.1em;
    line-height: 1.8;
    font-weight: 500;
    padding-left: 7%;
    padding-right: 7%;
  }

  .modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: $page-bg-accent-accent;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button {
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: $page-bg-accent-accent;
    color: $default-text-color;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: $page-bg;
  }

  .card-container {
    perspective: 1000px;
    
  }

  .portfolio-card {
    position: relative;
    width: 100%;
    height: 275px;
    transform-style: preserve-3d;
    transition: transform 0.85s;
    border-radius: 10px;
    border: 2px solid $default-text-color;
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
  }

  .card-front {
    background: $page-bg-accent;
  }

  .card-back {
    background: $page-bg-accent;
    transform: rotateY(180deg);
    text-align: center;
  }

  .card-container:hover .portfolio-card {
    transform: rotateY(180deg);
  }

  .surrounder {
    padding: 27px;
  }


  
  @media (max-width: 768px) {
    .social-icon {
      width: 25px;
      height: 25px;
    }
  
    h2 {
      font-size: 1.75em;
    }
  
    p {
      font-size: 1.25em;
    }
  
    .portfolio-item {
      padding: 15px;
    }

    .modal-content {
      background-color: $page-bg-accent-accent;
      margin: 15% auto; 
      padding: 20px;
      margin-top: 50%;
      border: 1px solid #888;
      width: 90%;
      max-width: 600px; 
    }
  }