<div class="portfolio-container">
    <header class="portfolio-header">
      <nav [@slideInFromTop]=""  class="social-links">
        <a href="https://www.linkedin.com/in/devonthib" target="_blank" aria-label="LinkedIn">
          <img src="./assets/media/logos/linkedIn.png" alt="LinkedIn Logo" class="social-icon">
        </a>
        <a href="https://www.github.com/Devonthib" target="_blank" aria-label="GitHub">
          <img src="./assets/media/logos/github.png" alt="GitHub Logo" class="social-icon">
        </a>
      </nav>
    </header>
  <!-- <div class="row">

    <div [@slideInFromTop]=""  class="card-container col-md-6 col-12">
    <a class="portfolio-item card" href='https://www.dremsly.com'>
        <div class="image-container">
      <img src="./assets/media/logos/dremsly_logo.png" alt="Dremsly Logo" class="portfolio-image dr-logo">
    </div>
    <div class="text-container">
      <h2>Dremsly</h2>
      <p class="desc-text">Dremsly is a web application that offers users the ability to instantly analyze their dreams using the integrated power of GPT-3.5. Beyond dream analysis, it functions as a comprehensive dream journal, storing and automatically categorizing each entry. As users log more dreams, Dremsly begins to identify patterns and can even infer underlying themes in the user's life, offering a unique window into the subconscious.</p>
    </div>
    </a>
    </div>

    <div [@slideInFromRight]="" class="card-container col-md-6 col-12">
    <a class="portfolio-item card" href='https://www.jobrocketeer.com'>
        <div class="image-container">
      <img src="./assets/media/logos/jobrocketeer_logo.png" alt="Job Rocketeer Logo" class="portfolio-image jr-logo">
    </div>
    <div class="text-container">
      <h2>Job Rocketeer</h2>
      <p class="desc-text">Job Rocketeer is a premium service, offering a free trial to get you started on revolutionizing your job application process. Integrated with Stripe for secure payments, the platform is built on a scalable Azure cloud framework, ensuring reliability and performance. As I navigate my own job search, Job Rocketeer is my go-to tool for generating AI-powered, highly tailored cover letters that stand out.</p>
    </div>
    </a>
    </div>
  
    <div [@slideInFromLeft]="" class="card-container col-md-6 col-12">
    <a class="portfolio-item card" href='https://store.steampowered.com/app/1654970/Farm_Defense/'>
        <div class="image-container">
      <img src="./assets/media/logos/farmdefense_logo.png" alt="Farm Defense Banner" class="portfolio-image fd-logo">
    </div>
    <div class="text-container">
      <h2>Farm Defense</h2>
      <p class="desc-text">Farm Defense is a strategic tower defense game crafted over 1.5 years with the power of Unreal Engine. The game is the result of meticulous calculations and extensive testing to achieve a finely-tuned balance, providing an engaging and challenging experience for players who must defend their farm against waves of adversaries.</p>
    </div>
    </a>
</div>

  <div [@slideInFromBottom]=""  class="card-container col-md-6 col-12">
    <a class="portfolio-item card " href='https://pypi.org/project/eazure/'>
        <div class="image-container">
      <img src="./assets/media/logos/eazure_logo.png" alt="eazure Logo" class="portfolio-image az-logo">
    </div>
    <div class="text-container">
      <h2>eazure</h2>
      <p class="desc-text">eazure is a Python package available on PyPI, created to streamline the repetitive task of setting up Azure service interactions across multiple projects. By simplifying the connection to Azure services, eazure saves developers time and effort, making cloud interactions a breeze. It's readily available for any Python developer through a simple pip install, bringing efficiency to your fingertips.</p>
    </div>
    </a>
</div>
  </div> -->



  <div class="row">
    <div *ngFor="let item of portfolioItems; let i = index" class="card-container col-md-6 col-12"
         [@slideInAnimation]="{value: i % 2 === 0 ? 'fromLeft' : 'fromRight', params: {delay: i * 100}}">
      <div class="portfolio-item card" (click)="openModal(item)">
      <div class="image-container">
        <img [src]="item.imageUrl || './assets/media/logos/SharpDark.png'" [alt]="item.title + ' Logo'" class="portfolio-image dr-logo">
      </div>
      <div class="text-container">
        <h2>{{ item.title }}</h2>
        <p class="desc-text">{{ item.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="selectedItem" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedItem.title }}</h2>
    <p>{{ selectedItem.fullDescription }}</p>
    <a *ngIf="selectedItem.link" href="{{ selectedItem.link }}" target="_blank" class="button">Check it out</a>
  </div>
</div>