<div class="portfolio-container">
    <header class="portfolio-header">
      <nav [@fadeIn]=""  class="social-links">
        <a href="https://www.linkedin.com/in/devonthib" target="_blank" aria-label="LinkedIn" title="LinkedIn">
          <img src="./assets/media/logos/linkedIn.png" alt="LinkedIn Logo" class="social-icon">
        </a>
        <a href="https://www.github.com/Devonthib" target="_blank" aria-label="GitHub" title="GitHub">
          <img src="./assets/media/logos/github.png" alt="GitHub Logo" class="social-icon">
        </a>
      </nav>
    </header>
</div>

  <div class="row">
    <div class="surrounder col-md-6 col-12" *ngFor="let item of portfolioItems; let i = index">
    <div class="card-container">
      <div class="portfolio-card" [@slideInAnimation]="{value: i % 2 === 0 ? 'fromLeft' : 'fromRight', params: {delay: i * 100}}">
        <div class="card-front">
          <img [src]="item.imageUrl || './assets/media/logos/SharpDark.png'" [alt]="item.title + ' Logo'" class="portfolio-image dr-logo">
          <h2>{{ item.title }}</h2>
          <p class="desc-text">{{ item.shortDescription }}</p>
        </div>
        <div class="card-back">
          <div class="text-container">
            <p class="desc-text">{{ item.fullDescription }}</p>
            <a *ngIf="item.link" href="{{ item.link }}" target="_blank" class="button">Check it out</a>
          </div>
        </div>
      </div>
    </div>
    </div>
