<div
  [ngClass]="footerContainerCssClasses"
  class="
    d-flex
    flex-column flex-md-row
    align-items-center
    justify-content-between
  "
>
  <!-- begin::Copyright  -->
  <!-- <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-bold me-2">{{ currentDateStr }} &copy;</span>
    <a class="text-gray-800">SaaS Technologies LLC</a>
  </div> -->
  <!-- end::Copyright  -->

  <!-- begin::Nav  -->
  <!-- <ul class="menu menu-gray-600 text-hover-primary order-1">
    <li class="menu-item">
      <a routerLink="/tos" class="menu-link ps-0 pe-2 cursor-pointer"> Terms-of-Service </a>
    </li> -->
    <!-- <li class="menu-item">
      <a class="menu-link pe-0 pe-2 cursor-pointer"> Privacy </a>
    </li> -->
    <!-- <li class="menu-item">
      <a routerLink="/contact" class="menu-link pe-0 cursor-pointer"> Contact </a>
    </li> -->
  <!-- </ul> -->
  <!-- end::Nav  -->
</div>
