<div class="about-container">
    <section class="intro-section">
      <h1 [@slideInFromLeft]="" >A Bit About Devon</h1>
      <p [@slideInFromRight]="" >Hello, I'm Devon. As a tech enthusiast and a hobbiest 3D modeler, I spend my time exploring the intricacies of microcontrollers and electrical circuits. Coding is a significant part of my life, but I also dedicate time to the nuanced craft of 3D modeling and printing.</p>
    </section>
    
    <section class="hobbies-section">
      <div class="hobby hobby-modeling">
        <h2 [@slideInFromLeft]="" >3D Modeling & Printing</h2>
        <p [@slideInFromRight]="" >The journey from a simple idea to a fully realized 3D model is one of thoughtful iteration and problem-solving. It's a process I respect and engage with, appreciating each step as I enhance my skills in this complex field. </p>
      </div>
      <div class="hobby hobby-circuits">
        <h2 [@slideInFromLeft]="" >Electrical Engineering</h2>
        <p [@slideInFromRight]="" >Putting together projects with microcontrollers is kind of like piecing together a puzzle that comes to life. Here's a look at the PCB I'm working on for a programmable wall vault—it's got a bit of a clock vibe. I'll share more details and the designs once I've finished. </p>
        <img  [@slideInFromRight]="" src="./assets/media/photos/clock_vault_pcb.PNG" alt="Custom PCB" class="hobby-image">
      </div>
    </section>
    
    <section class="personal-life">
      <h2 [@slideInFromLeft]="" >Life Outside of Tech</h2>
      <p [@slideInFromRight]="" >Stepping away from technology, I value the quiet moments with my girlfriend and the shared experiences that come from our regular visits to the movie theatre. Our weekly screenings, particularly the latest Marvel films, are a staple of our routine.</p>
    </section>
  </div>