<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/"
    ><span class="menu-title" translate="Home"></span
  ></a>
</div>
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/about"
    ><span class="menu-title" translate="About"></span
  ></a>
</div>
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/portfolio"
    ><span class="menu-title" translate="Portfolio"></span
  ></a>
</div>
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/resume"
    ><span class="menu-title" translate="Resume"></span
  ></a>
</div>
<div class="menu-item me-lg-1">
  <a
    class="menu-link py-3"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/contact"
    ><span class="menu-title" translate="Contact"></span
  ></a>
</div>
