
  <div class="resume-container text-center">

      <div  class="title-text">Resume</div>

    
    <div [@fadeIn]="" class="resume-display mb-4">
    <object class='pdf' data="./assets/media/files/Devon_Thibodeau_Resume_Website.pdf" type="application/pdf">
      <p>Your browser does not support PDFs. Please download the PDF to view it: <a href="./assets/media/files/Devon_Thibodeau_Resume_Website.pdf">Download PDF</a>.</p>
    </object>
    <!-- <embed src="./assets/media/files/Devon_Thibodeau_Resume_Website.pdf" type="application/pdf" width="100%" height="600px"> -->
    
  </div>

  </div>