@import  "/src/assets/sass/variables.scss";

.logo-icon {
  color: $default-text-color;
}

.logo-icon:hover {
  opacity: 0.8;
}

.user-stats-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center; // Add this line to vertically center the content
  flex-grow: 1;
  margin-right: 20px; // Adjust the space between user-stats and header-menu
  // min-width: 150px; // Adjust the width to fit the text
}

.logo-icon {
  width: 50px;  /* adjust as needed */
  height: 50px; /* adjust as needed */
}

// MOBILE
@media (max-width: 768px) {
  .user-stats-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
